.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* align-items: vertically align items. flex-start | flex-end | center | stretch */
/* align-content: How to distribute extra space between items .flex-start | flex-end | center | stretch */
/* justify-content - horizontally align items left, right or center */

/* .commentsContainer {
  display: flex;
  align-items: center;

  align-content: center;
  justify-content: center;
  height: 100vh;
} */

.commentsContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  animation: myRotate 2s infinite;
}

@keyframes myRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}